{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load humanize %}

{% block content %}

<h1>{% trans 'Welcome to Adaptive Arithmetic Demo!' %}</h1>

<p>
    {% blocktrans %}
    This is a prototype site, so not everything may work correctly and it may be slow or unstable!
    {% endblocktrans %}
</p>

<ul>
<li><a href="{% url 'adaptarith:pretest_start' %}">Start with pre-test....</a></li>

<li><a href="{% url 'adaptarith:run' %}">Start without pre-test....</a></li>
</ul>
{% endblock %}