
SECRET_KEY = ''

ALLOWED_HOSTS = ['localhost']

DATABASES = {
        'default': {
            'ENGINE': 'django.db.backends.mysql',
            'NAME': '',
            'USER': '',
            'PASSWORD': '',
        }
    }

